# Bỏ qua dữ liệu cục bộ và registry của Feast
data/
*.db
*.parquet

# Bỏ qua môi trường ảo python nếu bạn tạo trong thư mục này
venv/
.venv/
__pycache__/
*.pyc

# Bỏ qua các file chứa cấu hình bảo mật/mật khẩu nếu có
.env
secret*.yaml